.resume {
    display: grid;
    width  : 50mm;
    /* hardcoded purely for codepen example */
    height: 70.5mm;
    /* hardcoded purely for codepen example */
    grid-template-columns: 2fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;
    grid-gap             : 5px;
}

.education-first {
    grid-template-areas:
        "name  photo"
        "work  about"
        "work  education"
        "community skills";
}

.skills-first {
    grid-template-areas:
        "name  photo"
        "work  about"
        "work  skills"
        "community education";
}

.circle {
    border       : 5px solid black;
	background-color: #119DA1;
    height       : 30px;
    width        : 30px;
    border-radius: 50%;
    
}

.grid-area {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
}

.name {
    grid-area: name;
}

.photo {
    grid-area: photo;
}


.about {
    grid-area: about;
}


.work {
    grid-area: work;
}

.skills {
    grid-area       : skills;
    background-color: grey;

}

.education {
    grid-area: education;
}

.community {
    grid-area: community;
}

.wrapper {
	padding        : 0;
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
}
