.resume {
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
    
}


/*
.circle {
    
}
*/

.grid-area {
}

.name {
	width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
	background-color: #f4dbd8;
}

.photo {
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
	background-color: #a30b37;
	
}


.about {
	width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
}


.work {
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
}

.skills {
	width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
}

.education {
	width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
}

.community {
	width: auto;
    height: auto;
    min-width: 100px;
    min-height: 15px;
}

.wrapper {
	
}
